In [37]:
# Load libraries
import pandas as pd

In [38]:
# Load dataset from demographics csv and display first five rows
demo_data = pd.read_csv('demographics_train.csv')
demo_data.head()

,State,County,FIPS,Total Population,Citizen Voting-Age Population,"Percent White, not Hispanic or Latino","Percent Black, not Hispanic or Latino",Percent Hispanic or Latino,Percent Foreign Born,Percent Female,Percent Age 29 and Under,Percent Age 65 and Older,Median Household Income,Percent Unemployed,Percent Less than High School Degree,Percent Less than Bachelor's Degree,Percent Rural
0,Wisconsin,La Crosse,55063,117538,0,90.537528,1.214075,1.724549,2.976059,51.171536,43.241335,14.702479,51477,4.796952,5.474767,67.529757,16.827753
1,Virginia,Alleghany,51005,15919,12705,91.940449,5.207614,1.432251,1.300333,51.077329,31.660280,23.902255,45538,4.560986,15.537543,83.711604,52.393846
2,Indiana,Fountain,18045,16741,12750,95.705155,0.400215,2.359477,1.547100,49.770026,35.899887,18.941521,45924,7.978789,12.032155,85.538940,65.951276
3,Ohio,Geauga,39055,94020,0,95.837056,1.256116,1.294405,2.578175,50.678579,36.281642,18.028079,74165,4.036902,8.928599,62.730824,63.968990
4,Wisconsin,Jackson,55053,20566,15835,86.662453,1.983857,3.082758,1.376058,46.649810,36.292911,17.587280,49608,5.569698,11.792912,86.129256,72.238251

In [39]:
# Load dataset from election csv and display first five rows
elec_data = pd.read_csv('election_train.csv')
elec_data.head()

   Year State           County      Office       Party  Votes
0  2018    AZ    Apache County  US Senator  Democratic  16298
1  2018    AZ    Apache County  US Senator  Republican   7810
2  2018    AZ   Cochise County  US Senator  Democratic  17383
3  2018    AZ   Cochise County  US Senator  Republican  26929
4  2018    AZ  Coconino County  US Senator  Democratic  34240

In [40]:
# 1. Reshape dataset election_train from long format to wide format. Hint: the
#    reshaped dataset should contain 1205 rows and 6 columns
elec_data_tidy = pd.pivot_table(elec_data, index=['Year', 'State', 'County', 'Office'], values='Votes', columns='Party').reset_index()
elec_data_tidy.head()

Party  Year State           County      Office  Democratic  Republican
0      2018    AZ    Apache County  US Senator     16298.0      7810.0
1      2018    AZ   Cochise County  US Senator     17383.0     26929.0
2      2018    AZ  Coconino County  US Senator     34240.0     19249.0
3      2018    AZ      Gila County  US Senator      7643.0     12180.0
4      2018    AZ    Graham County  US Senator      3368.0      6870.0

In [41]:
# 2. Remove substring 'County' if it exists in any of the 'County' data from election table
elec_data_tidy['County'] = elec_data_tidy['County'].apply(lambda x: x.replace(' County', ''))
elec_data_tidy.head()

Party  Year State    County      Office  Democratic  Republican
0      2018    AZ    Apache  US Senator     16298.0      7810.0
1      2018    AZ   Cochise  US Senator     17383.0     26929.0
2      2018    AZ  Coconino  US Senator     34240.0     19249.0
3      2018    AZ      Gila  US Senator      7643.0     12180.0
4      2018    AZ    Graham  US Senator      3368.0      6870.0

In [42]:
# 2. Replace the abbreviated 'State' data from demographics table w/ its full abbreviation
change_states = {
    "AL": "Alabama",
    "AK": "Alaska",
    "AS": "American Samoa",
    "AZ": "Arizona",
    "AR": "Arkansas",
    "CA": "California",
    "CO": "Colorado",
    "CT": "Connecticut",
    "DE": "Delaware",
    "DC": "District Of Columbia",
    "FM": "Federated States Of Micronesia",
    "FL": "Florida",
    "GA": "Georgia",
    "GU": "Guam",
    "HI": "Hawaii",
    "ID": "Idaho",
    "IL": "Illinois",
    "IN": "Indiana",
    "IA": "Iowa",
    "KS": "Kansas",
    "KY": "Kentucky",
    "LA": "Louisiana",
    "ME": "Maine",
    "MH": "Marshall Islands",
    "MD": "Maryland",
    "MA": "Massachusetts",
    "MI": "Michigan",
    "MN": "Minnesota",
    "MS": "Mississippi",
    "MO": "Missouri",
    "MT": "Montana",
    "NE": "Nebraska",
    "NV": "Nevada",
    "NH": "New Hampshire",
    "NJ": "New Jersey",
    "NM": "New Mexico",
    "NY": "New York",
    "NC": "North Carolina",
    "ND": "North Dakota",
    "MP": "Northern Mariana Islands",
    "OH": "Ohio",
    "OK": "Oklahoma",
    "OR": "Oregon",
    "PW": "Palau",
    "PA": "Pennsylvania",
    "PR": "Puerto Rico",
    "RI": "Rhode Island",
    "SC": "South Carolina",
    "SD": "South Dakota",
    "TN": "Tennessee",
    "TX": "Texas",
    "UT": "Utah",
    "VT": "Vermont",
    "VI": "Virgin Islands",
    "VA": "Virginia",
    "WA": "Washington",
    "WV": "West Virginia",
    "WI": "Wisconsin",
    "WY": "Wyoming"
}
elec_data_tidy['State'] = elec_data_tidy['State'].map(change_states)
elec_data_tidy.head()

Party  Year    State    County      Office  Democratic  Republican
0      2018  Arizona    Apache  US Senator     16298.0      7810.0
1      2018  Arizona   Cochise  US Senator     17383.0     26929.0
2      2018  Arizona  Coconino  US Senator     34240.0     19249.0
3      2018  Arizona      Gila  US Senator      7643.0     12180.0
4      2018  Arizona    Graham  US Senator      3368.0      6870.0

In [43]:
# 2. Lowercase all 'State' data from both tables
elec_data_tidy['County'] = elec_data_tidy['County'].str.lower()
demo_data['County'] = demo_data['County'].str.lower()

In [47]:
# 2. Merge reshaped dataset election_train with dataset demographics_train
data = pd.merge(elec_data_tidy, demo_data, how='inner', on=['State', 'County'])
data.head()

,Year,State,County,Office,Democratic,Republican,FIPS,Total Population,Citizen Voting-Age Population,"Percent White, not Hispanic or Latino",...,Percent Hispanic or Latino,Percent Foreign Born,Percent Female,Percent Age 29 and Under,Percent Age 65 and Older,Median Household Income,Percent Unemployed,Percent Less than High School Degree,Percent Less than Bachelor's Degree,Percent Rural
0,2018,Arizona,apache,US Senator,16298.0,7810.0,4001,72346,0,18.571863,...,5.947806,1.719515,50.598513,45.854643,13.322091,32460,15.807433,21.758252,88.941063,74.061076
1,2018,Arizona,cochise,US Senator,17383.0,26929.0,4003,128177,92915,56.299492,...,34.403208,11.458374,49.069646,37.902276,19.756275,45383,8.567108,13.409171,76.837055,36.301067
2,2018,Arizona,coconino,US Senator,34240.0,19249.0,4005,138064,104265,54.619597,...,13.711033,4.825298,50.581614,48.946141,10.873943,51106,8.238305,11.085381,65.791439,31.466066
3,2018,Arizona,gila,US Senator,7643.0,12180.0,4007,53179,0,63.222325,...,18.548675,4.249798,50.296170,32.238290,26.397638,40593,12.129932,15.729958,82.262624,41.062000
4,2018,Arizona,graham,US Senator,3368.0,6870.0,4009,37529,0,51.461536,...,32.097844,4.385942,46.313518,46.393456,12.315809,47422,14.424104,14.580797,86.675944,46.437399