In [196]:
# Load libraries
import pandas as pd
# import numpy library as np 
import numpy as np 
from scipy.stats import ttest_ind

In [197]:
# Load dataset from demographics csv and display first five rows
demo_data = pd.read_csv('demographics_train.csv')
demo_data.head()

,State,County,FIPS,Total Population,Citizen Voting-Age Population,"Percent White, not Hispanic or Latino","Percent Black, not Hispanic or Latino",Percent Hispanic or Latino,Percent Foreign Born,Percent Female,Percent Age 29 and Under,Percent Age 65 and Older,Median Household Income,Percent Unemployed,Percent Less than High School Degree,Percent Less than Bachelor's Degree,Percent Rural
0,Wisconsin,La Crosse,55063,117538,0,90.537528,1.214075,1.724549,2.976059,51.171536,43.241335,14.702479,51477,4.796952,5.474767,67.529757,16.827753
1,Virginia,Alleghany,51005,15919,12705,91.940449,5.207614,1.432251,1.300333,51.077329,31.660280,23.902255,45538,4.560986,15.537543,83.711604,52.393846
2,Indiana,Fountain,18045,16741,12750,95.705155,0.400215,2.359477,1.547100,49.770026,35.899887,18.941521,45924,7.978789,12.032155,85.538940,65.951276
3,Ohio,Geauga,39055,94020,0,95.837056,1.256116,1.294405,2.578175,50.678579,36.281642,18.028079,74165,4.036902,8.928599,62.730824,63.968990
4,Wisconsin,Jackson,55053,20566,15835,86.662453,1.983857,3.082758,1.376058,46.649810,36.292911,17.587280,49608,5.569698,11.792912,86.129256,72.238251

In [198]:
# Load dataset from election csv and display first five rows
elec_data = pd.read_csv('election_train.csv')
elec_data.head()

   Year State           County      Office       Party  Votes
0  2018    AZ    Apache County  US Senator  Democratic  16298
1  2018    AZ    Apache County  US Senator  Republican   7810
2  2018    AZ   Cochise County  US Senator  Democratic  17383
3  2018    AZ   Cochise County  US Senator  Republican  26929
4  2018    AZ  Coconino County  US Senator  Democratic  34240

In [199]:
# 1. Reshape dataset election_train from long format to wide format. Hint: the
#    reshaped dataset should contain 1205 rows and 6 columns
elec_data_tidy = pd.pivot_table(elec_data, index=['Year', 'State', 'County', 'Office'], values='Votes', columns='Party').reset_index()
elec_data_tidy.head()

Party  Year State           County      Office  Democratic  Republican
0      2018    AZ    Apache County  US Senator     16298.0      7810.0
1      2018    AZ   Cochise County  US Senator     17383.0     26929.0
2      2018    AZ  Coconino County  US Senator     34240.0     19249.0
3      2018    AZ      Gila County  US Senator      7643.0     12180.0
4      2018    AZ    Graham County  US Senator      3368.0      6870.0

In [200]:
# 2. Remove substring 'County' if it exists in any of the 'County' data from election table
elec_data_tidy['County'] = elec_data_tidy['County'].apply(lambda x: x.replace(' County', ''))
elec_data_tidy.head()

Party  Year State    County      Office  Democratic  Republican
0      2018    AZ    Apache  US Senator     16298.0      7810.0
1      2018    AZ   Cochise  US Senator     17383.0     26929.0
2      2018    AZ  Coconino  US Senator     34240.0     19249.0
3      2018    AZ      Gila  US Senator      7643.0     12180.0
4      2018    AZ    Graham  US Senator      3368.0      6870.0

In [201]:
# 2. Replace the abbreviated 'State' data from demographics table w/ its full abbreviation
change_states = {
    "AL": "Alabama",
    "AK": "Alaska",
    "AS": "American Samoa",
    "AZ": "Arizona",
    "AR": "Arkansas",
    "CA": "California",
    "CO": "Colorado",
    "CT": "Connecticut",
    "DE": "Delaware",
    "DC": "District Of Columbia",
    "FM": "Federated States Of Micronesia",
    "FL": "Florida",
    "GA": "Georgia",
    "GU": "Guam",
    "HI": "Hawaii",
    "ID": "Idaho",
    "IL": "Illinois",
    "IN": "Indiana",
    "IA": "Iowa",
    "KS": "Kansas",
    "KY": "Kentucky",
    "LA": "Louisiana",
    "ME": "Maine",
    "MH": "Marshall Islands",
    "MD": "Maryland",
    "MA": "Massachusetts",
    "MI": "Michigan",
    "MN": "Minnesota",
    "MS": "Mississippi",
    "MO": "Missouri",
    "MT": "Montana",
    "NE": "Nebraska",
    "NV": "Nevada",
    "NH": "New Hampshire",
    "NJ": "New Jersey",
    "NM": "New Mexico",
    "NY": "New York",
    "NC": "North Carolina",
    "ND": "North Dakota",
    "MP": "Northern Mariana Islands",
    "OH": "Ohio",
    "OK": "Oklahoma",
    "OR": "Oregon",
    "PW": "Palau",
    "PA": "Pennsylvania",
    "PR": "Puerto Rico",
    "RI": "Rhode Island",
    "SC": "South Carolina",
    "SD": "South Dakota",
    "TN": "Tennessee",
    "TX": "Texas",
    "UT": "Utah",
    "VT": "Vermont",
    "VI": "Virgin Islands",
    "VA": "Virginia",
    "WA": "Washington",
    "WV": "West Virginia",
    "WI": "Wisconsin",
    "WY": "Wyoming"
}
elec_data_tidy['State'] = elec_data_tidy['State'].map(change_states)
elec_data_tidy.head()

Party  Year    State    County      Office  Democratic  Republican
0      2018  Arizona    Apache  US Senator     16298.0      7810.0
1      2018  Arizona   Cochise  US Senator     17383.0     26929.0
2      2018  Arizona  Coconino  US Senator     34240.0     19249.0
3      2018  Arizona      Gila  US Senator      7643.0     12180.0
4      2018  Arizona    Graham  US Senator      3368.0      6870.0

In [202]:
# 2. Lowercase all 'State' data from both tables
elec_data_tidy['County'] = elec_data_tidy['County'].str.lower()
demo_data['County'] = demo_data['County'].str.lower()

In [203]:
# 2. Merge reshaped dataset election_train with dataset demographics_train
data = pd.merge(elec_data_tidy, demo_data, how='inner', on=['State', 'County'])
data.head()

,Year,State,County,Office,Democratic,Republican,FIPS,Total Population,Citizen Voting-Age Population,"Percent White, not Hispanic or Latino",...,Percent Hispanic or Latino,Percent Foreign Born,Percent Female,Percent Age 29 and Under,Percent Age 65 and Older,Median Household Income,Percent Unemployed,Percent Less than High School Degree,Percent Less than Bachelor's Degree,Percent Rural
0,2018,Arizona,apache,US Senator,16298.0,7810.0,4001,72346,0,18.571863,...,5.947806,1.719515,50.598513,45.854643,13.322091,32460,15.807433,21.758252,88.941063,74.061076
1,2018,Arizona,cochise,US Senator,17383.0,26929.0,4003,128177,92915,56.299492,...,34.403208,11.458374,49.069646,37.902276,19.756275,45383,8.567108,13.409171,76.837055,36.301067
2,2018,Arizona,coconino,US Senator,34240.0,19249.0,4005,138064,104265,54.619597,...,13.711033,4.825298,50.581614,48.946141,10.873943,51106,8.238305,11.085381,65.791439,31.466066
3,2018,Arizona,gila,US Senator,7643.0,12180.0,4007,53179,0,63.222325,...,18.548675,4.249798,50.296170,32.238290,26.397638,40593,12.129932,15.729958,82.262624,41.062000
4,2018,Arizona,graham,US Senator,3368.0,6870.0,4009,37529,0,51.461536,...,32.097844,4.385942,46.313518,46.393456,12.315809,47422,14.424104,14.580797,86.675944,46.437399

In [204]:
# # Question: 3 (5 pts.) Explore the merged dataset. 
# # How many variables does the dataset have? 
# It has 19 variables and the rest 2 being the data we are examining based on those, 
# which is Democratic and Republican. 
# # What is the type of these variables? 
# The types the data is float64, int64, and objects.

# # Are there any irrelevant or redundant variables? 
# The column Office and the column Year is redudant becuase they are all the same value,
# and the column Citizen Voting-Age Population.
# # If so, how will you deal with these variables?
# I would get rid of the Office and Year column all together. 
# For the Citizen Voting-Age Population, 
# I would ignore it when determining, which column effects which state,
# and its counties distribution of democratic and Republican. 

#prints out all the datas info and data type
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1200 entries, 0 to 1199
Data columns (total 21 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Year                                   1200 non-null   int64
 1   State                                  1200 non-null   object
 2   County                                 1200 non-null   object
 3   Office                                 1200 non-null   object
 4   Democratic                             1197 non-null   float64
 5   Republican                             1198 non-null   float64
 6   FIPS                                   1200 non-null   int64
 7   Total Population                       1200 non-null   int64
 8   Citizen Voting-Age Population          1200 non-null   int64
 9   Percent White, not Hispanic or Latino  1200 non-null   float64
 10  Percent Black, not Hispanic or Latino  1200 non-null   float64
 11  Percent Hispanic or Latino             1200 non-null   float64
 12  Percent Foreign Born                   1200 non-null   float64
 13  Percent Female                         1200 non-null   float64
 14  Percent Age 29 and Under               1200 non-null   float64
 15  Percent Age 65 and Older               1200 non-null   float64
 16  Median Household Income                1200 non-null   int64
 17  Percent Unemployed                     1200 non-null   float64
 18  Percent Less than High School Degree   1200 non-null   float64
 19  Percent Less than Bachelor's Degree    1200 non-null   float64
 20  Percent Rural                          1200 non-null   float64
dtypes: float64(13), int64(5), object(3)
memory usage: 206.2+ KB

In [205]:
# Question 4 (10 pts.) Search the merged dataset for missing values. 
# Are there any missing values? If so, how will you deal with these values?
# ANS: There are missing values for the column Citizen Voting-Age Population
# so, and I would possibly drop the ones that are empty.

# Check for empty values in rows
# It is not empty the data set. However, when data.head() is printed.
# The results that certain counties do not keep account for the population of people 
# that are of the age to vote. 
data.isna()

,Year,State,County,Office,Democratic,Republican,FIPS,Total Population,Citizen Voting-Age Population,"Percent White, not Hispanic or Latino",...,Percent Hispanic or Latino,Percent Foreign Born,Percent Female,Percent Age 29 and Under,Percent Age 65 and Older,Median Household Income,Percent Unemployed,Percent Less than High School Degree,Percent Less than Bachelor's Degree,Percent Rural
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1196,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1197,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1198,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1199,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [206]:
# Question (5 pts.) Create a new variable named “Party” that labels each county as Democratic or Republican. 
# This new variable should be equal to 1 if there were more votes cast for the Democratic party 
# than the Republican party in that county and it should be equal to 0 otherwise.

data.loc[data['Democratic'] > data['Republican'], 'Party'] = 1
data.loc[data['Democratic'] < data['Republican'], 'Party'] = 0

In [207]:
# Question 6.(10 pts.) Compute the mean median household income for Democratic counties and Republican counties. 

# Democratic Mean Median Household Income
demMean = data.loc[data['Party'].isin(["1.0"]), 'Median Household Income'].mean()
print("Democratic Mean Median Household Income:",demMean)

#Democratic Standard Deviation
#demStd = data.loc[data['Party'].isin(["1.0"]), 'Median Household Income'].std()
#print("Democratic Standard Deviation:",demStd)

#Republican Mean Median Household Income
repMean = data.loc[data['Party'].isin(["0.0"]), 'Median Household Income'].mean()
print("Republican Mean Median Household Income:",repMean)

#Republican Standard deviation
#repStd = data.loc[data['Party'].isin(["0.0"]), 'Median Household Income'].std()
#print("Republican Standard Deviation:",repStd)

# Which one is higher? Demcratic Counties

#Perform a hypothesis test to determine whether this difference is statistically significant at the 𝜶 = 𝟎.𝟎𝟓 significance level.
dems = data.loc[data['Party'].isin(["1.0"]), 'Median Household Income']
reps = data.loc[data['Party'].isin(["0.0"]), 'Median Household Income']

#Hypothesis Test
stats, p = ttest_ind(dems, reps, equal_var = False)

print('Test Statistic = %.3f, p-value=%.3f' % (stats, p))

if p > 0.05:
    print('Same distributions....fail to reject null hypothesis)')
    
else:
    print('Different distributions.....reject null hypothesis')

# What is the result of the test? The Test Statistic is 5.479, and the P value is 0.0

#Note: If the 𝒑-value is less than the specified significance level, we say
#      that the result is statistically significant.

# What conclusion do you make from this result? The result is statistically significant

Democratic Mean Median Household Income: 53798.732307692306
Republican Mean Median Household Income: 48746.81954022989
Test Statistic = 5.479, p-value=0.000
Different distributions.....reject null hypothesis

In [208]:
#Question 7. (10 pts.) Compute the mean population for Democratic counties and Republican counties. 

# Democratic Mean Total Population
demPopulation = data.loc[data['Party'].isin(["1.0"]), 'Total Population'].mean()
print("Democratic Mean of Total Population:",demPopulation)

#Republican Mean Total Population
repPopulation = data.loc[data['Party'].isin(["0.0"]), 'Total Population'].mean()
print("Republican Mean of Total Population:",repPopulation)

#Which one is higher? Democratic Counties

#Perform a hypothesis test to determine whether this difference is statistically significant at the 𝜶 = 𝟎. 𝟎𝟓 significance level.
demPop = data.loc[data['Party'].isin(["1.0"]), 'Total Population']
repPop = data.loc[data['Party'].isin(["0.0"]), 'Total Population']

#Hypothesis Test
statsPop, pPop = ttest_ind(demPop, repPop, equal_var = False)

print('Test Statistic = %.3f, p-value=%.3f' % (stats, pPop))

if pPop > 0.05:
    print('Same distributions....fail to reject null hypothesis)')
    
else:
    print('Different distributions.....reject null hypothesis')
    
#What is the result of the test? The Test Statistic is 5.479, and the P value is 0.0

#What conclusion do you make from this result? The result is statistically significant

Democratic Mean of Total Population: 300998.3169230769
Republican Mean of Total Population: 53864.6724137931
Test Statistic = 5.479, p-value=0.000
Different distributions.....reject null hypothesis

In [209]:
#Question 8 Summary Statistics

#Democratic and Republican variables by age using describe
demAge = data.loc[data['Party'].isin(["1.0"]), 'Percent Age 29 and Under'].describe()
repAge = data.loc[data['Party'].isin(["0.0"]), 'Percent Age 29 and Under'].describe()
demAge2 = data.loc[data['Party'].isin(["1.0"]), 'Percent Age 65 and Older'].describe()
repAge2 = data.loc[data['Party'].isin(["0.0"]), 'Percent Age 65 and Older'].describe()
#Print the statistics
print("Democratic Summary Statistics Age 29 and Under")
print(demAge)
print("\n")
print("Republican Summary Statistics Age 29 and Under")
print(repAge)
print("\n")
print("Democratic Summary Statistics Age 65 and Older")
print(demAge2)
print("\n")
print("Republican Summary Statistics Age 65 and Older")
print(repAge2)

Democratic Summary Statistic Age 29 and Under
count    325.000000
mean      38.726959
std        6.252786
min       23.156452
25%       34.488444
50%       38.074151
75%       42.161162
max       67.367823
Name: Percent Age 29 and Under, dtype: float64


Republican Summary Statistic Age 29 and Under
count    870.000000
mean      36.005719
std        5.181522
min       11.842105
25%       32.983652
50%       35.846532
75%       38.539787
max       58.749116
Name: Percent Age 29 and Under, dtype: float64


Democratic Summary Statistic Age 65 and Older
count    325.000000
mean      16.194826
std        4.282422
min        6.653188
25%       13.106233
50%       15.698087
75%       18.806426
max       31.642106
Name: Percent Age 65 and Older, dtype: float64


Republican Summary Statistic Age 65 and Older
count    870.000000
mean      18.828267
std        4.733155
min        6.954387
25%       15.784982
50%       18.377896
75%       21.112847
max       37.622759
Name: Percent Age 65 and Older, dtype: float64

In [210]:
#Question 8 Summary Statistics

#Democratic and Republican variables by Gender using describe
demGender = data.loc[data['Party'].isin(["1.0"]), 'Percent Female'].describe()
repGender = data.loc[data['Party'].isin(["0.0"]), 'Percent Female'].describe()
#Print the statistics
print("Democratic Summary Statistics by Gender")
print(demGender)
print("\n")
print("Republican Summary Statistics by Gender")
print(repGender)

Democratic Summary Statistic by Gender
count    325.000000
mean      50.385433
std        2.149359
min       34.245291
25%       49.854280
50%       50.653830
75%       51.492075
max       56.418468
Name: Percent Female, dtype: float64


Republican Summary Statistic by Gender
count    870.000000
mean      49.630898
std        2.429013
min       21.513413
25%       49.222905
50%       50.176792
75%       50.829770
max       55.885023
Name: Percent Female, dtype: float64

In [213]:
#Question 8 Summary Statistics

#Democratic and Republican variables by Race using describe
demPercentWhite = data.loc[data['Party'].isin(["1.0"]), 'Percent White, not Hispanic or Latino'].describe()
demPercentBlack = data.loc[data['Party'].isin(["1.0"]), 'Percent Black, not Hispanic or Latino'].describe()
demPercentHispanic = data.loc[data['Party'].isin(["1.0"]), 'Percent Hispanic or Latino'].describe()
repPercentWhite = data.loc[data['Party'].isin(["0.0"]), 'Percent White, not Hispanic or Latino'].describe()
repPercentBlack = data.loc[data['Party'].isin(["0.0"]), 'Percent Black, not Hispanic or Latino'].describe()
repPercentHispanic = data.loc[data['Party'].isin(["0.0"]), 'Percent Hispanic or Latino'].describe()
#Print the statistics
print("Democratic Summary Statistics Percent White")
print(demPercentWhite)
print("\n")
print("Democratic Summary Statistics Percent Black")
print(demPercentBlack)
print("\n")
print("Democratic Summary Statistics Percent Hispanic")
print(demPercentHispanic)
print("\n")
print("Republican Summary Statistics Percent White")
print(repPercentWhite)
print("\n")
print("Republican Summary Statistics Percent Black")
print(repPercentBlack)
print("\n")
print("Republican Summary Statistics Percent Hispanic")
print(repPercentHispanic)
print("\n")

Democratic Summary Statistic Percent White
count    325.000000
mean      69.683766
std       24.981502
min        2.776702
25%       53.271579
50%       77.786090
75%       90.300749
max       98.063495
Name: Percent White, not Hispanic or Latino, dtype: float64


Democratic Summary Statistic Percent Black
count    325.000000
mean       9.242649
std       13.351340
min        0.000000
25%        0.839103
50%        3.485992
75%       11.058843
max       63.953279
Name: Percent Black, not Hispanic or Latino, dtype: float64


Democratic Summary Statistic Percent Hispanic
count    325.000000
mean      12.587391
std       19.575030
min        0.193349
25%        2.531017
50%        5.039747
75%       11.857116
max       95.479801
Name: Percent Hispanic or Latino, dtype: float64


Republican Summary Statistic Percent White
count    870.000000
mean      82.656646
std       16.056122
min       18.758977
25%       75.016397
50%       89.434849
75%       94.466596
max       99.627329
Name: Percent White, not Hispanic or Latino, dtype: float64


Republican Summary Statistic Percent Black
count    870.000000
mean       4.189241
std        6.721695
min        0.000000
25%        0.460419
50%        1.318311
75%        4.753831
max       41.563041
Name: Percent Black, not Hispanic or Latino, dtype: float64


Republican Summary Statistic Percent Hispanic
count    870.000000
mean       9.733094
std       14.049576
min        0.000000
25%        1.704539
50%        3.427435
75%       10.709696
max       78.397012
Name: Percent Hispanic or Latino, dtype: float64

In [222]:
#Question 8 Summary Statistics

#Democratic and Republican variables by Education using describe
demHighSchool = data.loc[data['Party'].isin(["1.0"]), 'Percent Less than High School Degree'].describe()
demBachelors = data.loc[data['Party'].isin(["1.0"]), "Percent Less than Bachelor's Degree"].describe()
repHighSchool = data.loc[data['Party'].isin(["0.0"]), 'Percent Less than High School Degree'].describe()
repBachelors = data.loc[data['Party'].isin(["0.0"]), "Percent Less than Bachelor's Degree"].describe()
#Print the statistics
print("Democratic Summary Statistics With High School Degree")
print(demHighSchool)
print("\n")
print("Democratic Summary Statistics With Bachelors Degree")
print(demBachelors)
print("\n")
print("Republican Summary Statistics With High School Degree")
print(repHighSchool)
print("\n")
print("Republican Summary Statistics With Bachelors Degree")
print(repBachelors)

Democratic Summary Statistic With High School Degree
count    325.000000
mean      11.883760
std        6.505613
min        3.215803
25%        7.893714
50%       10.370080
75%       13.637059
max       49.673777
Name: Percent Less than High School Degree, dtype: float64


Democratic Summary Statistic With Bachelors Degree
count    325.000000
mean      71.968225
std       11.192404
min       26.335440
25%       65.711800
50%       72.736143
75%       79.903653
max       94.849957
Name: Percent Less than Bachelor's Degree, dtype: float64


Republican Summary Statistic With High School Degree
count    870.000000
mean      14.009112
std        6.303126
min        2.134454
25%        9.662491
50%       12.572435
75%       17.447168
max       47.812773
Name: Percent Less than High School Degree, dtype: float64


Republican Summary Statistic With Bachelors Degree
count    870.000000
mean      81.095427
std        6.815537
min       43.419470
25%       78.108424
50%       82.406700
75%       85.546272
max       97.014925
Name: Percent Less than Bachelor's Degree, dtype: float64

In [ ]:
#Question 8 Plots